.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
}

.main {
  background-color: 'red';
}

.title {
  background-color: 'red';
}
